.form-container {
    // font-family: 'Source Sans Pro'; 
    padding-top: 40px;
    width: 500px;
    height: 500px;
    margin: auto;
    scroll-behavior: auto;
}

.form-heading {
    font-size: 30px;
}
.container-heading {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.container-sub-heading {
    font-size: 20px;
}


