<div class="form-container">
    <form>
        <h1 class="form -heading">Employee Todo Application</h1>
        <br/>
        <h1 class="container-heading">Employees Pay Grade Details:</h1>
        <span class="container-sub-heading">Total Number of Employees with Low pay grade: {{statisticData.lowData}}</span><br />
        <span class="container-sub-heading">Total Number of Employees with High pay grade: {{statisticData.highData}}</span>
        <br /><br />
        <!-- Adding New Employee  -->
        <h1 class="container-heading">Enter the New Employee Details</h1>
        <div class="id">
            <label for="id">Employee Id</label>
            <input type="number" class="form-control" id="id" 
                required
                [(ngModel)]="model.id" name="id">
        </div>

        <div class="name">
            <label for="name">Employee Name</label>
            <input type="text" class="form-control" id="name"
                required
                [(ngModel)]="model.name" name="name">
        </div>

        <div class="salary">
            <label for="salary">Employee Salary</label>
            <input type="number" class="form-control" id="salary"
                required
                [(ngModel)]="model.salary" name="salary">
        </div>

        <br/>

        <button type="button" (click)="updateTable()" class="btn btn-primary">Submit</button>

        <br/> <br/>

        <!-- Child Component  -->
        <app-child (myOutput) ="getChildData($event)"></app-child>
        
  </form>
</div>

 
